body{
    background-color: rgb(57, 86, 110);
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock{
    margin-top: 100px;
}
#frame{
    position: relative;
    background-image: conic-gradient(rgb(34, 70, 59),rgb(55, 114, 96),rgb(87, 179, 151),rgb(55, 114, 96),rgb(34, 70, 59)) ;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: solid 20px rgb(34, 20, 59);
}
#hhandle{
    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(29, 23, 58);
    bottom: 200px;
    transform-origin: bottom;
    transform: rotate(45deg);
}
#mhandle{
    position: absolute;
    width: 10px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(236, 240, 44);
    bottom: 200px;
    transform-origin: bottom;
    transform: rotate(30deg);
}
#shandle{
    position: absolute;
    width: 3px;
    height: 160px;
    border-radius: 10px;
    background-color: rgb(207, 30, 30);
    bottom: 200px;
    transform-origin: bottom;
    transform: rotate(0deg);
}
.signs{
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: rgb(207, 30, 30);
}
form{
    margin-left: 100px;
}
label{
    color: rgb(157, 157, 190);
}
input{
    background-color: rgb(12, 87, 77);
    color: rgb(157, 157, 190);
    outline: none;
    border: none;
    border-radius: 10px;
}
